<div class="container-fluid vh-100" >
  <div class="" style="margin-top:50px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <h3 class="text-primary">Sign Up</h3>
              </div>
              <form action="" #myForm="ngForm" (ngSubmit)="tryRegister()">
                  <div class="p-4">

                    <div class="input-group mb-3">
                          
                      <input type="text" class="form-control" placeholder="Full Name" name="fullName" [(ngModel)]="this.fullName" >
                    </div>

                    <div class="input-group mb-3">
                          
                      <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="this.email" >
                    </div>

                      <div class="input-group mb-3">
                          
                          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="this.username" >
                      </div>
                      <div class="input-group mb-3">
                          
                          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="this.password" >
                      </div>

                      <div class="input-group mb-3">
                          
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="this.confirmPassword" >
                    </div>
                      
                      <button class="btn btn-primary text-center mt-2" type="submit">
                          Register
                      </button>
                      <p class="text-center mt-5">Have an account?
                          <span class="text-primary"><a routerLink="/login">Log In</a></span>
                      </p>
                      
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
