<!--


<section >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-9">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
          <div class="card-body py-4 px-4 px-md-5">

            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fa fa-check-square me-1"></i>
              <u>My Books</u>
            </p>

            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
              
              <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
              <select class="select" (change)="onSortChange($event.target.value)">
                <option value="1">Title</option>
                <option value="2">Added date</option>
                
              </select>
              <a href="" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i class="fas fa-sort-amount-down-alt ms-2"></i></a>
            </div>

            <hr class="my-4">

            <div *ngFor="let x of this.allBooks">
              <app-book [book]="x" (deleteEvent)="deleteBook($event)"></app-book>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

-->
<p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
  <u>My Books</u>
</p>

<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-10">
        <div *ngFor="let x of this.allBooks">
          <app-book [book]="x" (deleteEvent)="deleteBook($event)"></app-book>
          </div>
      </div>
  </div>
</div>
