
<div>
<form #myForm="ngForm" class="form-horizontal" (submit)="addBook()" ngNativeValidate enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->
<legend>
  <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
    <u>Add New Book</u>
  </p>
</legend>





<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_title">BOOK TITLE</label>  
  <div class="col-md-4 input-box">
  <input id="book_title" name="title" class="form-control input-md" [(ngModel)]="this.book.title" required="" type="text">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_description">DESCRIPTION</label>
  <div class="col-md-4 input-box">                     
    <textarea class="form-control" id="book_description" [(ngModel)]="this.book.description" name="description" required></textarea>
  </div>
</div>



<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-2 control-label" style="padding-top:0px" for="book_category">CATEGORY</label>
  <div class="col-md-4 input-box">
    <select id="book_category" name="category" class="form-control" [(ngModel)]="this.book.category" required>
      <option *ngFor="let x of this.categories">{{x}}</option>
      <option>Other</option>
    </select>

    <input *ngIf="this.book.category=='Other'" [(ngModel)]="this.category_other" id="product_category_other" name="category_other" class="form-control input-md" required="" type="text" style="margin-top: 10px;">
  </div>
  
</div>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_authors">AUTHORS</label>  
  <div class="col-md-4 input-box">
  <input id="book_authors" name="authors" [(ngModel)]="this.authors" class="form-control input-md" required="" type="text">
    <span style="color:red;">(Separate with comma if more than one author)</span>
  </div>
</div>




<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_isbn">ISBN</label>  
  <div class="col-md-4 input-box">
  <input id="book_isbn" name="isbn" [(ngModel)]="this.book.isbn" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_publisher">PUBLISHER</label>  
  <div class="col-md-4 input-box">
  <input id="book_publisher" name="publisher" [(ngModel)]="this.book.publisher" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_price">PRICE</label>  
  <div class="col-md-4 input-box">
  <input id="book_price" name="price" [(ngModel)]="this.book.price" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_page_count">PAGE COUNT</label>  
  <div class="col-md-4 input-box">
  <input id="book_page_count" name="page_count" [(ngModel)]="this.book.page_count" class="form-control input-md" required="" type="number" min="1" value="1">
    
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-2 control-label" style="padding-top:0px" for="book_language">LANGUAGE</label>
  <div class="col-md-4 input-box">
    <select id="book_language" name="language" class="form-control" [(ngModel)]="this.book.language" required>
      <option *ngFor="let x of this.languages">{{x}}</option>
      <option>Other</option>
    </select>

    <input *ngIf="this.book.language=='Other'" [(ngModel)]="this.language_other" id="book_language" name="language_other" class="form-control input-md" required="" type="text" style="margin-top: 10px;">
  </div>
  
</div>


<!-- File input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="book_image">BOOK IMAGE</label>  
  <div class="col-md-4 input-box">
  <input id="book_image" name="image" class="form-control input-md" type="file" accept="image/*" (change)="onFileInputChange($event)">
    
  </div>
</div>




<!-- Button -->
<div class="form-group" id="submit-wrapper">
  
  <div class="col-md-2 input-box" >
    <input id="btn_submit" name="btn_submit" class="btn btn-success" value="Add Book" type="submit">
  </div>
  </div>

</fieldset>
</form>
</div>


