.fa { margin-right:5px;}
.user-rating .fa {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }

.my-rating {font-size: 22px;}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 3vw;
    color: black;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


h1{
    text-align: center
}



@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px
    }

}



.review-list ul li .left span {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.review-list ul li .left {
    flex: none;
    max-width: none;
    margin: 0 10px 0 0;
}
.review-list ul li .left span img {
    border-radius: 50%;
}
.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}
.review-list ul li .right h4 .gig-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ffbf00;
}
.review-list ul li .right h4 .gig-rating svg {
    margin: 0 4px 0 0px;
}

.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}
.review-list ul li .right {
    flex: auto;
}
.review-list ul li  {
    margin: 20px 0 0;
}

.review-list ul li .review-title span {

    color: black;
}

.review-list ul li .review-description p {
    font-size: 14px;
    margin: 0;
    color: black;
}
.review-list ul li .publish {
    font-size: 13px;
    color: #95979d;
}


li {
    display: flex;
    justify-content: space-between;
    color: #95979d;
    padding-bottom: 8px;
}

li>span {
    color: #62646a;
    white-space: nowrap;
    margin-left: 12px;
}

ul, ul li {
   list-style: none;
   margin: 0px;
}


hr {
    color: #797272;
    height: 2px;
}


