<!-- Header -->
<div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">BookStore</a>
          
          <div class="d-flex navbar" id="navbarNav">
            <ul class="navbar-nav">
            
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Signup</a>
                </li>

            </ul>
          </div>
        </div>
      </nav>
  
  </div>



  <!-- Login form -->
<div class="container-fluid vh-100" >
  <div class="" style="margin-top:50px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <h3 class="text-primary">Log In</h3>
              </div>
              <form action="" #myForm="ngForm" (ngSubmit)="tryAuthentication()" ngNativeValidate>
                  <div class="p-4">
                      <div class="input-group mb-3">
                          
                          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="this.username" required>
                      </div>
                      <div class="input-group mb-3">
                          
                          <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="this.password" required>
                      </div>

                    
                      <button class="btn btn-primary text-center mt-2"type="submit">
                          Login
                      </button>
                      <p class="text-center mt-5">Don't have an account?
                          <span class="text-primary"><a routerLink="/signup">Sign Up</a></span>
                      </p>
                      
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
